$primary : #0D47A1;;
$negative : #a1220b;
$warning : #EEBF00;
$jovenclub:#0D47A1;
$claro:#0199FF;
$secondary:#232B38;
$ternary:#6C6C6C;
$pure:#FEFEFE;
$light:#F0F0F0;
$heaven:#FFFFFF;
$footer:#2D333F;
$blanco:#fff;